
/* ====================================================mobile small screen===================================================================== */

@media (min-width:768px) and (max-width:991px){

    
       /* ---------------------------------------------------------------------------------- */

       .navbarWrapper{
        position: relative;
        padding: 0 32px;
    }
    .logo{
        width:auto;
        height:20px;
        margin-left: -20px;
    }
    
    .navbar{
        width:100%;
        height:750px;
        background-color:#070626;
        position: absolute;
        top:210px;
        right:-390px;
        display: flex;
        transform: translateX(100%);
        transition: all .5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }

    .navbar-list{
        flex-direction: column;
        margin-top:95px;
        margin-left:20px;
       
    }
       
    
    /* -------------------------- */
    .mobile-menu{
        display: block;
        margin-top:7px;
        z-index: 999;
    }
    .show-menu{
        font-size: 20px;
        margin-left: -20px;
    }
    
    .hide-menu{
      display: none;
      font-size: 20px;
      margin-left: -20px;
    }


    .active .navbar{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        pointer-events:stroke;
    }

    .active .mobile-menu .hide-menu{
        display: block;
    }

    .active .mobile-menu .show-menu{
        display: none;
    }
  
    /* -------------------------------------navbar--------------------------------------------- */
/* -------------------------------------navbar--------------------------------------------- */


/* --------------------------------------------navbar-------------------------------------------- */

#hero h1{
    font-size:60px;
}

    /* ---------------------------hero section----------------------------------- */

    
    
    #about .img1{
        width: auto;
        height:500px;
        margin-top:-100px;
        margin-left:-130px; 
    }


/* ------------------------------------------------------------ */
 
    #coding h1{
        font-weight:800;
        font-size:28px;
        color:var(--gray);
        margin-top: 20px;
        margin-bottom:25px;
        margin-left: -20px;
    }


    #coding .col-md-5 div{
        width: 100%;
        padding-left:0px;
        margin-top:10px;
    }
    
    #coding .col-md-5 div font{
        font-weight: 600;
        font-size:14px;
        margin-left:6px;
        color:var(--gray);
    }
    
    #coding .col-md-5 img{
        width:22px;
        height: auto; 
        margin-left: -20px;
    }
    
    #coding .col-md-7 img{
        height:420px;
        padding-left:0px;
        margin-left:-25px;
        margin-top:0px;
       
    }
    
    /* ------------------------coding section------------------------------------------------------------ */

    #skill .col-md-5 img{
        width: auto;
        height:300px;
        margin-left: -90px;
        margin-top: -30px;
     }
/* --------------------------------------------------------- */
    


    #portfolio .contain div{
        margin:40px;
    }
    /* ---------------------------------------------------------------- */
    
    #team .card{
        margin:38px;
        margin-left:50px;
     }
    /* ------------------------------------------------------------- */












}

  